#navButton {
    width: 200px;
    height: 200px;
    /*此处暂时按照一个链接设置，后期增加时尺寸需再做调整*/
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.des {
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 30%;
    left: 50%;
}

.go {
    width: 180px;
    height: 60px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: large;
    font-weight: bold;
    position: relative;
    padding: 0.5em 1em;
    background-color: #7d844b;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    letter-spacing: 1px;
    margin: 10px
}

.go::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #ca8d89;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale(0, 0);
    transition: transform 0.45s ease-in-out;
}

.go:hover::before {
    transform: translate3d(-50%, -50%, 0) scale(15, 15);
}
